<!doctype html>
<html>

<head>
  <title>Trefla Chat</title>
  <link rel="icon" type="image/png" href="/img/treflaapp.png" />

  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />
  <link rel="stylesheet" href="/css/index.css" />

  <script src="/plugins/jquery.js"></script>
</head>

<body>
  <div class="p-3" id="header" style="padding: 15px;">
    <span class="logo">Trefla</span>
    <div style="float:right;">
      <p>Logged in as <strong id="login-user"></strong></p>
      <a class="link-item d-block" id="logout" style="float: right;">Logout</a>
    </div>
  </div>
  <div class="" id="page">
    <!-- Contacts -->
    <div class="" id="left-sidebar">
      <!-- Chatrooms --->
      <div class="mb-5" id="chatrooms">
        <h4>Chatrooms</h4>
        <ul id="chatroom-list">
          <li class="message-item">
            No chatrooms...
          </li>
        </ul>
      </div>

      <div class="mb-5" id="incoming-pending">
        <h4>Pending Chats</h4>
        <ul id="pending-chats">
          <li class="message-item">
            No pending chatrooms...
          </li>
        </ul>
      </div>

      <!---Online Users-->
      <div class="" id="online-users">
        <h4>Online Users</h4>
        <ul>
          <li class="message-item">
            No users...
          </li>
        </ul>
      </div>
    </div>
    <!-- Messenger -->
    <div class="" id="messenger">
      <div id="room-header">
        <p class="mb-0" id="partner-name"></p>
      </div>
      <p id="load-more" class="text-center mb-3">Load More...</p>
      <ul id="messages"></ul>
      <p id="typing-event"></p>
      <form action="">
        <input id="msg" placeholder="Type a message" autocomplete="off" disabled/>
        <button>Send</button>
      </form>
    </div>
  </div>

</body>
<script src="https://cdn.socket.io/socket.io-2.3.0.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="/js/constants.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/chatroom.js"></script>

</html>